.wrapper{
    background-color: rgb(228, 224, 224);
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    text-align: justify;    
    padding: 5px;
}

.wrapper h1{
    text-align: center;
    font-size: 35px;
    margin: 2px;
    padding: 2px;
}

.menu{
    padding: 15px;
    color: black;  
    line-height: 15px;  
    float: right;
}

.contenedormenu{
    background-color: white;
    height: 50px;
    padding: 10px;
    font-size: 22px;

}

.clear{
    clear: both;
}

.imgCabecera{
    width: 100%;
    margin-top: 10px;
}

.enlaceTop{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:22 px;
    margin: 1px;
    padding: 1px;
    color: blue;
}
/*Fin Configuracion imagenes */
.grid1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.grid img{
    width: 200px;
    height: 300px;
    margin: 2px 0px;  
    display: block;
    margin: 0 auto;
}

.grid1 p {
    text-align: center;
    font-style: italic;
    text-align: justify;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid2 img{
    width: 200px;
    height: 300px;
    margin: 2px 0px;  
    display: block;
    margin: 0 auto;
}

.grid2 p {
    text-align: center;
    font-style: italic;
    text-align: justify;
}

.grid2 h3{
    text-align: center;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin:2px auto;
}

.grid3 img{
    width: 280px;
    height: 380px;
    margin: 2px auto;    
}

footer p{
    text-align: center;
}

@media (min-width:600px) and (max-width:800px){
    .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin:2px auto;
    }
    
    .grid3 img{
        width: 280px;
        height: 380px;
        margin: 2px auto;    
    }

    .grid2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
    
    .grid2 img{
        width: 200px;
        height: 300px;
        margin: 2px 0px;  
        display: block;
        margin: 2px auto;
    }
    
    .grid2 p {
        text-align: center;
        font-style: italic;
        text-align: justify;
    }
    
    .grid2 h3{
        text-align: center;
    }
  }

  @media (min-width:300px) and (max-width:599px){
    .grid3{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin:2px auto;
    }
    
    .grid3 img{
        width: 280px;
        height: 380px;
        margin: 2px auto;    
    }

    .grid2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
    
    .grid2 img{
        width: 200px;
        height: 300px;
        margin: 2px 0px;  
        display: block;
        margin: 2px auto;
    }
    
    .grid2 p {
        text-align: center;
        font-style: italic;
        text-align: justify;
    }
    
    .grid2 h3{
        text-align: center;
    }
  }